__pycache__/
*.pyc

# VS Code
.vscode/*

# Diretório de dados do Codex One
dados/chroma_db/
dados/documentos_usuario/
dados/rag_database.db
dados/rag_database.db-journal

# Cache de modelos
.cache/
models/
